name: Release

on:
  # Trigger the workflow on the new 'v*' tag created
  workflow_dispatch:
  push:
    tags:
      - "v*"

permissions:
  contents: read

jobs:
  build:
    name: Generate App Bundle
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
  
      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: gradle

      - run: chmod +x gradlew

      - name: Bundle 'release' with Gradle
        run: ./gradlew bundleRelease

      # - name: Sign AAB
      #   id: sign_aab
      #   uses: r0adkll/sign-android-release@v1
      #   with:
      #     releaseDirectory: app/build/outputs/bundle/release
      #     signingKeyBase64: ${{ secrets.SIGNING_KEYSTORE }}
      #     alias: ${{ secrets.SIGNING_ALIAS }}
      #     keyStorePassword: ${{ secrets.SIGNING_KEYSTORE_PASSWORD }}
      #     keyPassword: ${{ secrets.SIGNING_ALIAS_PASSWORD }}

      - name: Upload App Bundle
        uses: actions/upload-artifact@v5
        with:
          name: aab
          path: ${{steps.sign_aab.outputs.signedReleaseFile}}

  release:
    name: Release App Bundle
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
    steps:
      - name: Download AAB from build
        uses: actions/download-artifact@v6
        with:
          name: aab

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: Tag Name
          release_name: Release Name

      - name: Upload Release AAB
        id: upload_release_asset
        uses: actions/upload-release-asset@v1.0.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: aab/app-release.aab
          asset_name: ${{ github.event.repository.name }}.aab
          asset_content_type: application/zip
